<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_tours_path(category) %></li>
  <% end %>
</ul>

<h1>Listing tours</h1>

<ul>
  <% @tours.each do |tour| %>
    <li><%= link_to tour.title, tour %></li>
  <% end %>
</ul>

<br>

<%= link_to 'New Tour', new_tour_path %>
